body {
  background: rgb(30, 34, 34);
}

.galo {
  text-align: center;
  margin-top: 140px;
  margin-bottom: -200px;
  color: aliceblue;
  font-size: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient-header);;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.dropdown_menu.open {
  height: 210px;
  padding: 20px;
}

a {
  color: white;
  margin-left: 5px;
}

a:hover {
  color: var(--colorChurros);
  transition: 0.3s all;
}

li {
  display: inline-block;
}

.inscreva-se-btn {
  border: 2px solid var(--colorChurros);
  padding: 10px;
  border-radius: 5px;
}

.inscreva-se-btn:hover {
  background: var(--colorChurros);
  color: white;
  transition: 0.3s all;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.churros {
  width: 60px;
  height: 60px;
}

main {
  height: 100vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa-maior {
  background: var(--fundoReverso);
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  height: 250px;
  box-shadow: 3px 3px 8px rgb(49, 49, 49);
}

.caixa-media {
  margin-top: 30px;
}

.caixa-maior input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  background-color: #6b6b6b6c;
  color: white;
  font-weight: 400;
  width: calc(100% - 50px);
}

.botao-busca {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  float: right;
  background: #7c7c7c2b;
}

.botao-busca:hover {
  background: var(--colorChurros);
}

.img-busca {
  width: 24px;
}

.cidade {
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.temp {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.caixa-menor {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: white;
  gap: 20px;
}

.umidade {
  color: white;
  margin-top: 20px;
}

.texto-previsao {
  text-transform: capitalize;
}

@media(max-width: 810px){
  .title h1{
    font-size: 1.4rem;
  }
  .churros{
    max-width: 50px;
    height: 50px;
  }

  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
  }

  .inscreva-se-btn{
    padding: 6px;
    width: 160px;
    text-align: center;
  }

  .sobre{
    width: 78px;
  }
}

@media(max-width: 675px){
  .title h1{
    font-size: 18px;
  }

  .churros{
    max-width: 28px;
    height: 28px;
  }

  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
  }

  .inscreva-se-btn{
    padding: 5px;
    width: 140px;
    text-align: center;
  }

  .galo{
    font-size: 26px
  }
}

  @media(max-width: 425px){
    .title h1{
      font-size: 11px;
    }
  
    .churros{
      max-width: 30px;
      height: 30px;
    }
  
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      
    }

    ul li{
      font-size: 8px;
    }
  
    .inscreva-se-btn{
      padding: 4px;
      width: 80px;
      border: 1px solid var(--colorChurros);
    }
  
    .inscreva-se-btn li{
      text-align: center;
    }
  
    .sobre{
      width: 34px;
    }

    .galo{
      font-size: 24px;
    }
  }