:root {
    --fundo: rgb(10, 102, 109);
    --gradient-header: linear-gradient(
      80deg,
      rgb(129, 40, 212),
      rgb(37, 50, 230)
    );
    --fundoReverso: linear-gradient(80deg, rgb(37, 50, 230), rgb(129, 40, 212));
    --colorChurros: #e86d24;
  }

  @media(max-width: 810px){
    .title h1{
      font-size: 1.4rem;
    }
    .churros{
      max-width: 50px;
      height: 50px;
    }
  
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      font-size: 1rem;
    }
  
    .inscreva-se-btn{
      padding: 6px;
      width: 160px;
      text-align: center;
    }
  
    .sobre{
      width: 78px;
    }
  
    form{
      max-width: 85%;
      
    }
  
    form button{
     width: auto;
     font-size: 12px;
     padding: 0 6px;
     
    }
  
    #pesquisa{
      font-size: 17px;
    }
  }
  
  @media(max-width: 675px){
    .title h1{
      font-size: 18px;
    }
  
    .churros{
      max-width: 28px;
      height: 28px;
    }
  
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      font-size: 14px;
    }
  
    .inscreva-se-btn{
      padding: 5px;
      width: 140px;
      text-align: center;
    }
  
    .galo{
      font-size: 26px
    }
  }
  
  @media(max-width: 425px){
    .title h1{
      font-size: 12px;
    }
  
    .churros{
      max-width: 30px;
      height: 30px;
    }
  
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      font-size: 8px;
    }
  
    .inscreva-se-btn{
      padding: 4px;
      width: 80px;
      border: 1px solid var(--colorChurros)
    }
  
    .inscreva-se-btn li{
      text-align: center;
    }
  
    .sobre{
      width: 39px;
    }
  
    form{
      max-width: 85%;
      
    }
  
    #pesquisa{
      font-size: 12px;
      padding: 1px;
    }
  
    .galo{
      font-size: 24px;
    }
    .item{
      max-width: 120px;
      font-size: 12px;
      padding: 5px;
    }
  } 