body {
  height: 100vh;
  background-color: #1b1f2c;
  background-image: url('https://media.discordapp.net/attachments/953413844183683082/1194406041149001879/holocore_a_advertisement_poster_for_a_tantra_festival_during_th_7a66993b-bc7c-487d-a3b9-9d4d41758955.png?ex=65b03c4f&is=659dc74f&hm=b723081677fba1356fa88e2ad9da58bb816079402a8feb601235ca4f68e88366&=&format=webp&quality=lossless&width=671&height=671');
  background-size: cover;
  background-position: center;
}



a {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

a:hover {
  color: #e86d24;
}

header {
  position: relative;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.title a {
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.dropdown_menu.open {
  height: auto;
  padding: 20px;
}

.dados-ul{
  display: flex;
  flex-direction: column;
  align-items: start ;
}

